@model BraintreeASPExample.Models.TransactionModel
@{
    ViewBag.Title = "CreateTransaction";
}
<h2>Create Transaction</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.CustomerId)
    <input type="submit" value="submit" />
}